{{#if loading}}
    <h1>Loading...</h1>
{{else}}
    <!-- represents application screen
    APP BUILDER -->
    <div id="appBuilder" role="window">
        <!-- title bar region -->
        <section role="region" data-type="header">
            <header>
                <button id="back"><span class="icon icon-back">back</span></button>
                <h1>App Builder</h1>
            </header>
        </section>

        <!-- content region -->
        <section role="region" data-type="content">
            <section role="region" data-type="detail" class="template-detail cf box-padded-small-custom">
                <h1>{{name}}</h1>
                <div><img src="{{imgSmallPath}}" class="template-thumbnail-small"></div>
                <div>
                    <button id="appBuilderPreview" class="">Preview</button>
                    <button id="appBuilderPublish" class="recommend">Publish</button>
                </div>
            </section>
            <section role="region" data-type="list">
                <header class="list-header">Edit components</header>
                <ul data-type="edit" class="components-list">
                {{#each app_components}}
                    <li>
                    {{#if this.is_enabled}}
                        <p>{{this.component_name}}</p>
                    {{else}}
                        <p class="disabled-text">{{this.component_name}}</p>
                    {{/if}}
                        <p>{{this.description}}</p>
                        <button id="{{component_id}}" {{#if this.completed}}class="complete"{{/if}}></button>
                    </li>
                {{/each}}
                </ul>
            </section>
        </section>

        <!-- footer region -->
        <section role="region" data-type="footer">
            <footer></footer>
        </section>
    </div>
{{/if}}
