{{#if loading}}
    <h1>Loading...</h1>
{{else}}
    <!-- represents application template screen, prefixed appTmpl APPLICATION with PREVIEW -->
    <div id="appView" role="window" class="{{theme}}">
        {{#if dontShowBackButton}}
        {{else}}
            <section role="region" data-type="outer-chrome" class="outer-chrome">
                <button id="back">Exit Preview</button>
            </section>
        {{/if}}
        <!-- title bar region -->
        <section role="region" data-type="header">
            <header>
                <menu type="toolbar">
                    <button><span class="icon icon-cart">cart</span></button>
                </menu>
                <h1>{{model.name}}}</h1>
            </header>
        </section>

        <!-- content region -->
        <section role="region" data-type="content">
            <section role="region" data-type="detail" class="fade template-detail box-padded">
                <!-- TODO: check if id needs to be unique on app level -->
                <div id="productCarousel" class="carousel">
                    <div>

                        <ul>
                        {{#products}}
                           <li productID="{{this.id}}" class="{{this.className}}">
                                <label id="label-{{this.id}}">
                                    <input type="radio" name="carousel-group" />
                                {{#if_eq this.imgStorageType compare="package"}}
                                    <img src="{{this.imgSmallPath}}" />
                                {{/if_eq}}
                                </label>
                            </li>
                        {{/products}}
                        </ul>
                    </div>
                </div>
                <div>
                    <h2 id="product-name">{{selectedProduct.name}}</h2>
                    <h3 id="product-price">{{selectedProduct.price}}</h3>
                </div>
                <div><button class="buy">Add to cart</button></div>
            </section>
            <footer>
            {{#if about.completed}}
                <h2>About {{model.name}}</h2>
                <p>{{about.properties.description}}</p>
                <p>{{about.properties.address}}</p>
                <!-- always the same image -->
                <p><img src="imgs/products/productDetailMap.jpg" /></p>
                <p>{{about.properties.email}}</p>
                <p>{{about.properties.phone}}</p>
                <!-- TODO: add social icon -->
            {{/if}}
            </footer>
        </section>

        <!-- footer region -->
        <section role="region" data-type="footer">
            <footer></footer>
        </section>
    </div>

{{/if}}