<div id="productList" role="window">
                <!-- title bar region -->
                <section role="region" data-type="header">
                <header>
                    <button id="back"><span class="icon icon-back">back</span></button>
                    <menu type="toolbar">
                        <!-- TODO: make this an add icon -->
                        <!-- TODO: make this an edit icon where the list is populated -->
                        <a href="#apps/{{appID}}/cameraGallery" id="link-add-product"><span class="">+</span></a>
                    </menu>
                    <h1>Product List</h1>
                </header>
                </section>

                <!-- content region -->
                <section role="region" data-type="content">
                    <header>Products</header>
                    <section role="region" data-type="detail" class="template-detail">
                        {{#if_lt products.length compare=1}}
                            <div class="product-empty">
                              <p>To add products, tap the + button</p>
                            </div>
                        {{else}}
                            <ul data-type="list">
                                {{#each products}}
                                    <li>
                                        <a href="#apps/{{appID}}/product-list/{{this.id}}">
                                            {{#if_eq this.imgStorageType compare="devicestorage"}}
                                                <figure id="{{this.imgSmallPath}}"></figure>
                                            {{else}}
                                                <figure><img src="{{this.imgSmallPath}}"></figure>
                                            {{/if_eq}}

                                            <figcaption>
                                                <p>{{this.name}}}</p>
                                                <p>{{this.description}}</p>
                                                <p>{{this.price}}</p>
                                            </figcaption>
                                            <!-- take out arrow for now -->
                                            <!--
                                            <span class="preview-visual">preview</span>
                                            -->
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        {{/if_lt}}
                    </section>
                </section>
            </div>